package authview

import "github.com/gracchi-stdio/castogo/internal/view/layout"

templ RegisterPage() {
	@layout.BaseLayout("") {
		<h1>Register</h1>
		<form method="POST" action="/auth/register">
			<input type="email" name="email" required/>
			<input type="password" name="password" required/>
			<button type="submit">Register</button>
		</form>
	}
}
