package layout

import "github.com/gracchi-stdio/castogo/internal/view/utils"

type PublicLayoutData struct {
	NavData  *PublicNavbarData
	Settings *SettingsArgs
}

templ PublicLayout(data *PublicLayoutData) {
	{{
		footerTitle := "Podcast"
		if data != nil && data.Settings != nil && data.Settings.Title != "" {
			footerTitle = data.Settings.Title
		}
		footerLine := footerTitle + ". All rights reserved."
		footerHTML := utils.RenderBrandTokens(footerLine)
	}}
	@BaseLayout("theme-public") {
		<div class="min-h-screen flex flex-col">
			@PublicNavbar(data.NavData)
			<main class="flex-1" id="main-content" data-public-content style="view-transition-name: public-content">
				{ children... }
			</main>
			<footer class="border-t border-border py-6 text-center text-sm text-muted-foreground">
				<p>
					@templ.Raw(footerHTML)
				</p>
			</footer>
		</div>
	}
}
