package button

templ Button(args ButtonArgs) {
	{{
		// Set default values
		buttonType := args.Type
		if buttonType == "" {
			buttonType = "button"
		}

		// Generate the CSS classes using our variant system
		classes := buttonVariants(args.Variant, args.Size, args.Class)
	}}
	if args.AsChild {
		<!-- When AsChild is true, we render a span that can be styled as a button -->
		<span
			class={ classes }
			if args.Disabled {
				aria-disabled="true"
			}
			{ args.Attributes... }
		>
			{ children... }
		</span>
	} else {
		<!-- Default button element -->
		<button
			type={ buttonType }
			class={ classes }
			disabled?={ args.Disabled }
			{ args.Attributes... }
		>
			{ children... }
		</button>
	}
}
