package view


templ AddSubPage() {
@BaseLayout() {
<h1>Simple Inter Page</h1>
<p>This is a simple interaction page.</p>

<div>
  <sl-button-group label="Alignment">
    <sl-button>Add</sl-button>
    <sl-button>Subtract</sl-button>
  </sl-button-group>
</div>

<h2 data-signals:count="1"></h2>
}
}