package settingview

import (
	"github.com/gracchi-stdio/castogo/internal/domain"
	"github.com/gracchi-stdio/castogo/internal/view/components/formactions"
	"github.com/gracchi-stdio/castogo/internal/view/editors/settings"
	"github.com/gracchi-stdio/castogo/internal/view/layout"
)

templ SettingsPage(data *domain.AdminSharedData, config *domain.PodcastConfig) {
	@layout.AdminLayout("Settings", data, nil, nil, formactions.FormActions(formactions.FormActionsArgs{
		FormID:      "settings-form",
		SubmitLabel: "Save Settings",
	})) {
		@settings.Form(settings.Args{Config: config})
	}
}
